body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    font-size: 0;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(64, 175, 244);
    width: 100%;
    /* grid-template-rows: minmax(100px, auto) repeat(5, 100px); */
}

button{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
    border: none;
    width: 70px;
    padding: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.btn4{
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-container{
  
}





/* third option */
/* .main-container{
    border: 5px solid red;
    display: grid;
    justify-content:center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
  } */
  .main-container > button{
    
    font-size: 2rem;
    outline: none;
    background-color: rgb(52, 50, 50);
  }
  
  /* .display-section{
    grid-column: 1/-1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1rem;
  } */